<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TechPulse</title>
        {% stylesheets 'bundles/siteblog/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        <script src="{{asset('bundles/siteblog/js/jquery.js')}}"></script>

        <script src="{{asset('bundles/ajeajaxprocessor/js/ajaxEngine.js')}}"></script>
        <script src="{{asset('bundles/ajeajaxprocessor/js/AjEPaginator.js')}}"></script>
        <script src="{{asset('bundles/ajeajaxprocessor/js/AjEMenu.js')}}"></script>
        <script src="{{asset('bundles/siteblog/js/slider.js')}}"></script>   
    </head>
    
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="{{path('homepage')}}">TechPulse</a>
            <div class="nav-collapse">
              <ul id="AjEMenu" class="nav">  
                <li><a href="{{path('homepage')}}">Главная</a></li>
                <li><a href="{{path('add_post')}}">Добавить пост</a></li>
                <li><a href="{{path('guestbook')}}">Гостевая книга</a></li>
                <li><a href="{{path('login')}}">Войти</a></li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <form action="#">
                    <input type="text" class="search-query pull-right" id="search" placeholder="поиск"> 
                  </form>
                <li>    
              </ul>
	    </div>
          </div>
        </div>
      </nav>
        
        
        
      <div id="admin-panel">Тут будет панель с информацией о пользователе</div>
        
      <div class="container">  
        <header>
          <div class="carousel_wrap">	
    <span class="prev">prev</span>
    <span class="next">next</span>		
    <div class="visual_block">
      <ul>
        {% for key,post in mostViewedHead %}
          
        
        <li>
            <img src="http://www.osp.ru/FileStorage/ARTICLE/Nir_PK/2013-02/03_13/13137344/Nir_PK_z_(5316).jpg" alt="img" />  
            <div class="slider_text">{{mostViewedHead[0].title}}</div>
        </li>
        <li>
            <img src="http://www.osp.ru/FileStorage/ARTICLE/Nir_PK/2011-12/01_12/13117512/Nir_PK_11_(3361).jpg" alt="img" />
            <div class="slider_text">{{mostViewedHead[1].title}}</div>
        </li>
        <li>
            <img src="http://smartwebsite.ru/_nw/1/07848632.jpg" alt="img" />
            <div class="slider_text">{{mostViewedHead[2].title}}</div>
        </li>
        {% endfor %}
      </ul>
    </div>		
  </div>
        </header>
          
        <div class="row-fluid">
            
            {% block register %}
            {% endblock register %}
            
            {% block main %}
            <main class="main-wrapper span9">
            </main>
            {% endblock main %}
            
            
            
            
          {% block sidebar %}
            {% include 'SiteBlogBundle:Default:sidebar.html.twig' %}
          {% endblock sidebar %}
          </div>
        </div> 
        
      

      <footer>
        <div class="container">
          <p class="text-muted">Place sticky footer content here.</p>
        </div>
      </footer>    
    
      
      
      
      <script src="{{asset('bundles/siteblog/js/jquery.tagsinput.js')}}"></script>
      <script src="{{asset('bundles/siteblog/js/jqcloud.min.js')}}"></script>
     

      
      {% block scripts %}
      {% endblock scripts %}
      

      
<script>
var $myInput = $('#search');
var text = $myInput.val();
var timeout;


$myInput.keyup(function(e){
  var value = $(this).val();
  var url;
  if (value != text) {

    text = value;
    if(timeout) { clearTimeout(timeout); }
    timeout = setTimeout(function() {

      if(text.length>2){url='{{path('search')}}/'
                  +text+'/1'; code='search';}
      else{url='{{path('homepage')}}',code='home';}

          $('main').ajaxEngine({
                    code1:code,
                },{
                    url:url,
                    individual:{
                        code1:{     
                        }, 
                    }
                });
    },1000);
  }
});
</script>

<script>
/*jQuery(function(){

    $('body').append('<div id="admin-panel-btn"></div>');
    $("#admin-panel-btn").click(function(){
        $("#admin-panel").toggle(0);    
    });			
});	*/
</script>

<script>
jQuery(function(){
    $('#AjEMenu').AjEMenu('main');
});
</script>










  </body>
</html>
