<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TechPulse</title>
        {% stylesheets 'bundles/siteblog/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        <script src="{{asset('bundles/siteblog/js/jquery.js')}}"></script>
        <script src="{{asset('bundles/siteblog/js/ajaxEngine.js')}}"></script>
        <script src="{{asset('bundles/siteblog/js/AjEPaginator.js')}}"></script>
        <script src="{{asset('bundles/siteblog/js/AjEMenu.js')}}"></script>
        
    </head>
    <body>
        
        

    
    
          
 
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
          <div class="container"> 
            <a class="brand" href="{{path('homepage')}}">TechPulse</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="{{path('homepage')}}">Главная</a></li>
                <li> <a href="{{path('guestbook')}}">Гостевая книга</a></li>
              </ul>
              <ul>
                <li>
                  <form action="#">
                    <input type="text" class="search-query pull-right" id="search" placeholder="поиск"> 
                  </form>
                <li>    
              </ul>
	    </div>
          </div>
        </div>
      </nav>
        
        
        
      <div id="admin-panel"></div>
        
      <div class="container">  
        <header>
          {% image '@SiteBlogBundle/Resources/public/images/symfony_ss.png' %}
            <img src="{{ asset_url }}" alt="img" />
          {% endimage %}
        </header>
          
           
          
          
          
        <div class="row-fluid">
          {% block main %}  
          {% endblock main %}
          {% block sidebar %}
          <aside class="span3">
            <p>Последние статьи:</p>  
            <ul class="unstyled">  
            {% for lastArticle in sidebarData.lastArticles %}
              <li><a href="{{path('single_post',{'id':lastArticle.id})}}">{{lastArticle.title}}</a></li>
            {% endfor %} 
            </ul> 
            <hr>
            <p>Лучшее:</p>
            <ul class="unstyled">  
            {% for article in sidebarData.mostViewed %}
              <li><a href="{{path('single_post',{'id':article.id})}}">{{article.title}}</a></li>
            {% endfor %} 
            </ul> 
            <hr>
            <p>Комментарии:</p>
            <ul class="unstyled">  
            {% for comment in sidebarData.guestComments %}
              <li><a href="{{path('guestbook')}}">{{comment.text}}</a></li>
            {% endfor %} 
            </ul>
            
            
            <ul id="AjEMenu">
              <li><a href="{{path('guestbook')}}">Action1</a></li>
              <li><a href="{{path('add_post')}}">Action2</a></li>
              <li><a href="{{path('single_post',{id:'123'})}}">Action3</a></li>
          </ul> 
          
            
            
            
            
          </aside>
          {% endblock sidebar %}
        </div> 
          
           
         
           
            
      </div>  
        
      <footer>
        <div class="container">
          <p class="text-muted">Place sticky footer content here.</p>
        </div>
      </footer>    
    
      
      
      <script src="{{asset('bundles/siteblog/js/bootstrap.js')}}"></script>
      <script src="{{asset('bundles/siteblog/js/jquery.tagsinput.js')}}"></script>
      <script src="{{asset('bundles/siteblog/js/jqcloud.min.js')}}"></script>
      
<script>
var $myInput = $('#search');
var text = $myInput.val();
var timeout;


$myInput.keyup(function(e){
  var value = $(this).val();
  var url;
  if (value != text) {

    text = value;
    if(timeout) { clearTimeout(timeout); }
    timeout = setTimeout(function() {

      if(text.length>=3){url='{{path('search')}}/'+text+'/1'; code='search';}
      else{url='{{path('homepage')}}',code='home';}

          $('#main').ajaxEngine({
                    code1:code,
                },{
                    url:url,
                    individual:{
                        code1:{     
                        }, 
                    }
                });
    },1000);
  }
});
</script>

<script>
$(document).ready(function(){
    
    $('body').append('<div id="admin-panel-btn"></div>');
    
    $("#admin-panel-btn").click(function(){
        alert('aleeee');
        $("#admin-panel").toggle(0);    
    });			
});	
</script>

<script>
$(document).ready(function(){
    $('#AjEMenu').AjEMenu($('#main'));
});	
</script>

{% if AjEPaginator is defined %}
<script>
$('document').ready(function(){ 
    $('#main').ajaxEngine({code1:'home'});
    $('#main').AjEPaginator({
                   AjEParams:{
                       codes:{code1:'home'},
                       params:{url:'/blog'}
                   }
                        
                   });
});                    
</script>
{% endif %}
  </body>
</html>
